<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.webgeoservices.woosmapgeofencing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.location.GPS_ENABLED_CHANGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:largeHeap="true">
        <receiver
            android:name="com.webgeoservices.woosmapgeofencing.LocationUpdatesBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.gms.location.sample.locationupdatespendingintent.action.PROCESS_UPDATES"/>

        <service
            android:name="com.webgeoservices.woosmapgeofencing.LocationUpdatesIntentService"
            android:exported="false" />

        <service
            android:name="com.webgeoservices.woosmapgeofencing.WoosmapRebootJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
        android:name=".GeofenceBroadcastReceiver"
        android:enabled="true"
        android:exported="true" />

        <service
            android:name=".GeofenceTransitionsIntentService"
            android:exported="false" />

        <service
            android:name=".LocationUpdatesService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="true" />
    </application>

</manifest>